* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

/* Shorthand for backgroundimage+ body style */
body {
    background: url(/assets/image/Blue.jpg) center/cover no-repeat;
    min-height: 100vh;
    background-attachment: fixed;
}

.FormSection {
    border: 3px dotted rgb(14, 127, 198);
    height: 500px;
    margin: 20px auto;
    width: 450px;
    box-shadow: 0 10px 30px rgba(14, 127, 198, 0.18);
    background-color: rgba(225, 225, 225, 0.15);
    /* backdrop-filter: blur(10px); a glassmorhism background */
}

h1 {
    color: rgb(18, 19, 20);
    padding: 10px;
}

.para1 {
    color: rgb(10, 32, 50);
    font-size: 15px;
    padding: 10px;
    font-weight: bolder;
}

.firstHalf input {
    height: 40px;
    margin: 10px 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    background-color: rgba(225, 225, 225, 0.5);
}

.secondHalf input {
    height: 40px;
    width: 90%;
    display: inline-block;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
    background-color: rgba(225, 225, 225, 0.5);
}

.checkBox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.checkBox input {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.checkBox span {
    color: rgb(0, 102, 255);
    text-decoration: underline;
    font-weight: bold;
}

.btn button {
    width: 30%;
    height: 30px;
    border-radius: 8px;
    font-weight: bold;
    border-color: aliceblue;
    background-color: rgba(225, 225, 225, 0.5);
}

.para2 {
    font-size: 20px;
}

.para2 span {
    color: rgb(26, 168, 203);
    text-decoration: underline;
}
.svg{
    width: 3rem;
    height: 3rem;
}
summary , h2{
  display: inline-block;
  text-decoration: underline;
  color: blue;

}

.drop-menu{
    width: 40%;
    font-size: 1rem;
    background-color: rgba( 0 , 0 ,0 , 0.3);
    display:inline-block

}
@media screen and (max-width: 412px) {
   
.FormSection{
    width: 90%;
    height:60% ;
    padding: 5px;
}
body{
    background-attachment: fixed;
}
 .drop-menu{
    width: 70%;
    height: 90%;
    margin: 1;

 }   
}